@charset "UTF-8";

/* Typical Device Breakpoints 
-------------------------------
pequenas telas: Até 600px
celular: de 600px até 768px
tablet: de 769 até 992px
desktop: de 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    span#burguer{
        display: none;
    }

    menu {
        display: block;
        text-align: center;
    }

    menu > ul > li {
        display: inline-block;
        width: 100px;
    }

    main {
        width: 768px;
    }
}
